* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("burger.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
}

.intro {
  padding-top: 15%;
}
